header img {
  width: 150px;
}
header nav a {
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  text-decoration: none;
  height: 50px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.offered {
  align-items: center;
  margin: 10px 8px;
}
.fashion-container button {
  min-width: 20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.offered .fashion img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.offered .fashion-container h3 {
  width: max-content;
  margin: 0px auto;
  margin-top: -30px;
  position: relative;
  padding: 5px 10px;
  font-size: 55px;
}
.footer .logo {
  align-items: flex-end;
}
